In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.DataFrame([[1,2,3],[6,7,9]],columns=['a','b','c'])
a='n'

In [3]:
pd.DataFrame({'id':np.arange(20,40,1),'age':np.linspace(80,100,20)})

    id         age
0   20   80.000000
1   21   81.052632
2   22   82.105263
3   23   83.157895
4   24   84.210526
5   25   85.263158
6   26   86.315789
7   27   87.368421
8   28   88.421053
9   29   89.473684
10  30   90.526316
11  31   91.578947
12  32   92.631579
13  33   93.684211
14  34   94.736842
15  35   95.789474
16  36   96.842105
17  37   97.894737
18  38   98.947368
19  39  100.000000

In [148]:
np.linspace(1,20,20).size

20

In [150]:
np.arange(1,21,1).size

20