In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_table('I:\Datasets\CSV\Chiporders.csv')

In [3]:
new_sr=pd.Series(list(np.linspace(1,4622,4622)*np.random.randint(255)),index=list(np.linspace(1,4622,4622)),name='Khan')

In [4]:
dataset=pd.concat([dataset,new_sr],axis=1)

In [5]:
dataset.Khan

0.0            NaN
1.0           73.0
2.0          146.0
3.0          219.0
4.0          292.0
            ...
4618.0    337114.0
4619.0    337187.0
4620.0    337260.0
4621.0    337333.0
4622.0    337406.0
Name: Khan, Length: 4623, dtype: float64

In [6]:
dataset

,order_id,quantity,item_name,choice_description,item_price,Khan
0.0,1.0,1.0,Chips and Fresh Tomato Salsa,NaN,$2.39,NaN
1.0,1.0,1.0,Izze,[Clementine],$3.39,73.0
2.0,1.0,1.0,Nantucket Nectar,[Apple],$3.39,146.0
3.0,1.0,1.0,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,219.0
4.0,2.0,2.0,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,292.0
...,...,...,...,...,...,...
4618.0,1833.0,1.0,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,337114.0
4619.0,1834.0,1.0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,337187.0
4620.0,1834.0,1.0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,337260.0
4621.0,1834.0,1.0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,337333.0
4622.0,NaN,NaN,NaN,NaN,NaN,337406.0