In [1]:
#They works exactly but very high time complex

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
nds=pd.DataFrame([[1,5],[0,8],[9,6],[1,5],[1,5],[9,6],[1,5],[2,2],[3,2],[2,2]],columns=['a','b'])
nds.drop_duplicates()

   a  b
0  1  5
1  0  8
2  9  6
7  2  2
8  3  2

In [690]:
cont=[]
for ind1,row1 in nds.iterrows():
    for ind2,row2 in nds.iterrows():
        if (row1.a==row2.a) and (row1.b == row2.b) and ind1!=ind2 and ind2 not in cont and ind1 not in cont:
                cont.append(ind2)
                print('yes')

yes
yes
yes
yes
yes

In [691]:
for i in cont:
    nds.drop(i,inplace=True)

In [692]:
nds

   a  b
0  1  5
1  0  8
2  9  6
7  2  2
8  3  2

In [715]:
nds.loc[nds.duplicated().index]

   a  b
0  1  5
1  0  8
2  9  6
3  1  5
4  1  5
5  9  6
6  1  5
7  2  2
8  3  2
9  2  2