In [2]:
import pandas as pd
import numpy as np

In [4]:
dataset=pd.read_csv(r'E:\clg.csv')

In [6]:
# dataset.select_dtypes([np.object])

In [37]:
selector=[]
for dt in range(len(dataset.dtypes)):
    if dataset.dtypes[dt]!='object':
        print(dt)
    else:
        selector.append(dt)
sr=pd.Series(selector)
dataset1=pd.read_csv(r'E:\clg.csv',usecols=selector)
dataset1

0
2

      name class  session
0    hamza  bscs  2016-20
1  shabbir  bscs  2016-20
2   farhan  bscs  2016-20
3    shela  bscs  2016-20
4    arbaz  bscs  2016-20