In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv(r'I:\Text Datasets\CSV\shopping.csv')

In [3]:
dataset.head()

   Unnamed: 0  P.NAME  P.PRICE  S.PRICE  QUANTITY
0           0   JEANS     1150     1250       111
1           1   SKIRT      680      700        11
2           2  THONGS      240      250        22
3           3   SHEAT      850      900        12
4           4  HOODIE     1350     1500        19

In [4]:
dataset.sort_values(['S.PRICE'],na_position='last').head(5)

    Unnamed: 0   P.NAME  P.PRICE  S.PRICE  QUANTITY
2            2   THONGS      240      250        22
16          16  SWEATER      230      250        51
15          15  JACKETS       90      250        41
14          14  JUMPERS      270      300        32
17          17  BOW TIE      200      390        65