In [1]:
import numpy as np
import pandas as pd

In [58]:
df=pd.read_csv('I:\Text Datasets\CSV\GPA.csv')
df1=pd.read_csv(r'I:\Text Datasets\CSV\titanic.csv')
df.head()

  Smesters   GPA Students
0    First  3.84     Amir
1   Second  3.47     Amir
2    Third  3.68     Amir
3   Fourth  3.54     Amir
4    Fifth  3.74     Amir

In [ ]:
df.v

In [52]:
def max_from_df(ds):
    temp=[]
    first  = ds.max().tolist()
    second = ds.max().index.tolist()
    for s in first:
        if type(s)==np.int or type(s)==np.float or type(s)==np.int64 or  type(s)==np.float64:
            temp.append(s)
        else:
            temp.append(0)
    col=second[np.argmax(temp)]
    return "Index is {} , Columns is {}".format(ds[ds[col]==max(temp)].index.values[0],col)
max_from_df(df)

'Index is 5 , Columns is GPA'

In [53]:
df.loc[5,'GPA']

3.96

In [48]:
df1.loc[890,'PassengerId']

891