In [1]:
import pandas as pd

In [54]:
dataset=pd.read_csv('E:\Datasets\CSV\pp.csv')

Inplace-: they are used inside of some functions to make the changes permanent

In [39]:
dataset.dropna(inplace=True)

In [57]:
dataset.rename(columns={'0':'id'},inplace=True)
# dataset.drop('name',axis=1,inplace=True)

In [55]:
# dataset.dropna(inplace=True)

In [59]:
dataset.fillna(value='Empty',inplace=True)

In [60]:
dataset

   id    name    age  class
0   1   hamza     22   bscs
1   2   Empty     25   bscs
2   3  farhan     22   bscs
3   4    khan  Empty  bscss
4   5   Empty     44     bs
5   6    nice     45   bbbb