In [119]:
import pandas as pd

In [125]:
dataset=pd.read_table(r'I:\Datasets\CSV\chk.csv',sep=',')

In [129]:
my_set=dataset.copy()

In [133]:
my_set.loc[my_set.age>=23,:]=1200

In [134]:
my_set

      0    id   name   age
0     1    21  hamza    22
1  1200  1200   1200  1200
2     3    15   nice    22
3     4    21  hamza    22
4  1200  1200   1200  1200
5     6    21  hamza    22